<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
    <body>

    <h1>Página de registro de cuenta</h1>
    
    <label for="correo">Correo:</label>
    <input type="text" id="inputCorreo" name="correo">
    <br>

    <label for="nombre">Nombre:</label>
    <input type="text" id="inputNombre" name="nombre">
    <br>

    <label for="nombreUsuario">Nombre de usuario:</label>
    <input type="text" id="inputNombreUsuario" name="nombreUsuario">
    <br>

    <label for="Contraseña">Contraseña:</label>
    <input type="password" id="inputContrasena" name="contrasena">
    <br>

    <p>Rol:</p>
    <input type="radio" id="radioButtonEstudiante" name="rol" value="estudiante" checked>
    <label for="estudiante">Estudiante</label><br>

    <input type="radio" id="radioButtonProfesor" name="rol" value="profesor">
    <label for="profesor">Profesor</label>

    </body>
</html>